/* src/styles/global.css */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #F9FAFB;
  color: #111827;
}

a {
  color: #3B82F6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

